[submodule "date"]
	path = date
	url = https://github.com/Netris89/date
[submodule "echo"]
	path = echo
	url = https://github.com/Netris89/echo
[submodule "false"]
	path = false
	url = https://github.com/Netris89/false
[submodule "true"]
	path = true
	url = https://github.com/Netris89/true
[submodule "sleep"]
	path = sleep
